body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #f2f2f2;
    background-image: url("https://server11011.s3.ca-central-1.amazonaws.com/IMG_2546.JPG");
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-form {
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    color: #0078d4;
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.form-group input {
    width: calc(100% - 20px);
    /* Adjust width for inline spacing */
    padding: 5px;
    border: none;
    border-bottom: 2px solid #c8c6c4;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
    background-color: transparent;
    /* Inline style look */
}

.form-group input:focus {
    border-bottom: 2px solid #0078d4;
}

.form-group .show-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #0078d4;
    cursor: pointer;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0078d4;
    border: none;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #005bb5;
}

.options {
    margin-top: 20px;
    text-align: center;
}

.options a {
    color: #0078d4;
    text-decoration: none;
    font-size: 14px;
}

.options a:hover {
    text-decoration: underline;
}